@model Nop.Plugin.Widgets.BulkEdit.Models.PublicInfoModel

<button class="btn bg-olive" type="button" onclick="location.href='@Url.Action("BulkEdit","WidgetsBulkEdit")'" >
    <i class="fas fa-edit"></i>
    @T("Plugins.Widgets.BulkEdit")
</button>
